# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Ardino-U8G-Weather\ArduinoSketch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
